extends layout

block content
    div(class='row')
    div(class='main')
      h3 최신 Survey
      hr(class='line')
      table(class='table table-striped')
        thead
        tr
          th 설문제목
          th 설문학부
          th 작성일자
        tr
          td Photogrammetry, a method of collecting information using aerial photography
          td GLS
          td 18-07-20
        tr
          td Cadastral surveyor, used to document land ownership,
          td 전산전자공학부
          td 18-07-21
        tr
          td Construction surveying, the locating of structures relative to a reference line
          td 경영경제학부
          td 18-07-22
        tr
          td Photogrammetry, a method of collecting information using aerial photography
          td GLS
          td 18-07-20
        tr
          td Cadastral surveyor, used to document land ownership,
          td 전산전자공학부
          td 18-07-21
        tr
          td Construction surveying, the locating of structures relative to a reference line
          td 경영경제학부
          td 18-07-22
        tr
          td Photogrammetry, a method of collecting information using aerial photography
          td GLS
          td 18-07-20
        tr
          td Cadastral surveyor, used to document land ownership,
          td 전산전자공학부
          td 18-07-21
        tr
          td Construction surveying, the locating of structures relative to a reference line
          td 경영경제학부
          td 18-07-22
      br
      br
      br
      h3 학부 Survey
      hr(class='line')
      table(class='table table-striped')
        thead
        tr
          th 설문제목
          th 설문학부
          th 작성일자
        tr
          td Photogrammetry, a method of collecting information using aerial photography
          td GLS
          td 18-07-20
        tr
          td Cadastral surveyor, used to document land ownership,
          td 전산전자공학부
          td 18-07-21
        tr
          td Construction surveying, the locating of structures relative to a reference line
          td 경영경제학부
          td 18-07-22
        tr
          td Photogrammetry, a method of collecting information using aerial photography
          td GLS
          td 18-07-20
        tr
          td Cadastral surveyor, used to document land ownership,
          td 전산전자공학부
          td 18-07-21
        tr
          td Construction surveying, the locating of structures relative to a reference line
          td 경영경제학부
          td 18-07-22
        tr
          td Photogrammetry, a method of collecting information using aerial photography
          td GLS
          td 18-07-20
        tr
          td Cadastral surveyor, used to document land ownership,
          td 전산전자공학부
          td 18-07-21
        tr
          td Construction surveying, the locating of structures relative to a reference line
          td 경영경제학부
          td 18-07-22
