extends layout
block content

 doctype html
 html
  head
    title Use third-party widgets, Survey Builder Example
    |         
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |         
    script(src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js')
    |         
    script(src='https://surveyjs.azureedge.net/1.0.35/survey.ko.js')
    |         
    link(href='https://surveyjs.azureedge.net/1.0.35/survey.css', type='text/css', rel='stylesheet')
    |         
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js', type='text/javascript', charset='utf-8')
    |         
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js', type='text/javascript', charset='utf-8')
    // Uncomment to enable Select2 <script src="https://unpkg.com/jquery"></script> <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" /> <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    link(href='https://surveyjs.azureedge.net/1.0.35/surveyeditor.css', type='text/css', rel='stylesheet')
    | 
    script(src='https://surveyjs.azureedge.net/1.0.35/surveyeditor.js')
    |        
    script(src='https://unpkg.com/jquery')
    script(src='https://surveyjs.azureedge.net/1.0.35/survey.jquery.min.js')
    |         
    link(href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/smoothness/jquery-ui.css', type='text/css', rel='stylesheet')
    |         
    script(src='https://unpkg.com/sortablejs@1.7.0/Sortable.js')
    |         
    script(src='https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.3.0/image-picker.js')
    |         
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.3.0/image-picker.css')
    |
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    |     
    script(src='https://unpkg.com/nouislider@9.2.0')
    |         
    link(href='https://unpkg.com/nouislider@9.2.0/distribute/nouislider.min.css', rel='stylesheet')
    |
    script(src='https://unpkg.com/wnumb@1.1.0')
    |         
    script(src='https://unpkg.com/jquery-bar-rating')
    |         
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    

    // Themes
    link(rel='stylesheet', href='https://unpkg.com/jquery-bar-rating@1.2.2/dist/themes/bars-1to10.css')
    |         
    link(rel='stylesheet', href='https://unpkg.com/jquery-bar-rating@1.2.2/dist/themes/bars-movie.css')
    |         
    link(rel='stylesheet', href='https://unpkg.com/jquery-bar-rating@1.2.2/dist/themes/bars-square.css')
    |         
    link(rel='stylesheet', href='https://unpkg.com/jquery-bar-rating@1.2.2/dist/themes/bars-pill.css')
    |         
    link(rel='stylesheet', href='https://unpkg.com/jquery-bar-rating@1.2.2/dist/themes/bars-reversed.css')
    |         
    link(rel='stylesheet', href='https://unpkg.com/jquery-bar-rating@1.2.2/dist/themes/bars-horizontal.css')
    |         
    link(rel='stylesheet', href='https://unpkg.com/jquery-bar-rating@1.2.2/dist/themes/fontawesome-stars.css')
    |         
    link(rel='stylesheet', href='https://unpkg.com/jquery-bar-rating@1.2.2/dist/themes/css-stars.css')
    |         
    link(rel='stylesheet', href='https://unpkg.com/jquery-bar-rating@1.2.2/dist/themes/bootstrap-stars.css')
    |         
    link(rel='stylesheet', href='https://unpkg.com/jquery-bar-rating@1.2.2/dist/themes/fontawesome-stars-o.css')
    |         
    script(src='https://unpkg.com/surveyjs-widgets')
  |     
  body
    #surveyContainer
      #editorElement
    |         
    script(type='text/javascript', src='javascripts/forms.js')

