extends layout

block content
  div(class='row')
  div(class='mainn')
    h2 GLS 학부 Survey
    hr(class='line')
    table(class='table table-striped')
      thead
      tr
        th 번호
        th 설문제목
        th 작성자
        th 날짜
        th 조회수
      tbody
      tr
        th 165
        th Photogrammetry, a method of collecting information using aerial photography
        th 김재원
        th 2018.08.01
        th 1
      tr
        th 164
        th Cadastral surveyor, used to document land ownership,
        th 김재원
        th 2018.08.01
        th 3
  
