doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    

  body
    header
      div(class='userinfo')
       span Welcome, #{userinfo.name} (#{userinfo.student_id})
      div(class='topnav')
        a(class='logo' href='/')
          img(src="images/logo.png" alt="Crang2logo" width="60" height="60")
          b i-Survey
        a(class='active hover' href='/') Home
        a(class='hover' href='/mypage') My Page
        a(class='hover' href='/forms') Make Form
        div(class='dropdown')
          button(class='dropbtn') 
            b 학부별 리스트
            i(class='fa fa-caret-down')
          div(class='dropdown-content')
            a(href='/gls') GLS
            a(href='/management') 경영경제
            a(href='/international') 국제어문
            a(href='#') 법학부
            a(href='#') 상담복지
            a(href='#') 생명과학
            a(href='#') 공간시스템
            a(href='/csee') 전산전자
            a(href='#') 콘텐츠융합디자인
            a(href='#') 기계제어
            a(href='#') ICT창업학부
        a(class='hover' href='/loginpage/logout') Log out
        div(class='search-container')
          form(action='/search' method = 'GET')
            input(type='text' placeholder='Search...' name= 'search')
            button(type='submit')
              i(class='zmdi zmdi-search')
  block content
