extends layout2
block content

  h1 iSurvey
  p Welcome to iSurvey
  ul
    each val in isurveytest
      li
        a(href=val.url) #{val.data.title}
        | (#{val.username})
    else
      li There is no survey.
