extends layout2
block content

  ul
    each val in isurveytest
      li
        a(href=val.url) #{val.data.title}
        | (#{val.username})
    else
       No surveys match that query, please try again.
